:root {
            --black: #000000;
            --white: #FFFFFF;
            --orange: #F49F21;
            --beige: #F3DCBB;
            --blue: #002B87;
        }
body {
font-family: "protest-strike", sans-serif;
font-weight: normal;
font-style: normal;
background-color:   var(--orange); 
color: var(--black);           
padding: 20px;
line-height: 1.6;
font-size: 18px;
}

h1, h2, h3 {
color: var(--blue); 
border-bottom: 2px solid var(--blue);
padding-bottom: 20px;
}

.group-stage {
display: flex; 
flex-wrap: wrap;    
gap: 250px; 
margin-bottom: 65px;
justify-content: center;
margin-top: 37px;
}

.group-table table {
width: 100%; 
border-collapse: collapse;
background-color: var(--beige);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
overflow: hidden;
border: 1px solid var(--blue);
}
        
.group-table th,
.group-table td {
border: 1px solid var(--black); 
padding: 17px 20px;
text-align: left;
border-bottom: 2px solid var(--black);
font-weight: normal;
}
        
.group-table th {
background-color: var(--blue);
color: var(--white);
font-size: 1.1em;
border-bottom: 2px solid var(--black);
}

.group-table tr:last-child td {
border-bottom: 1px solid var(--black);
}


.group-table th:nth-child(1),
.group-table td:nth-child(1) {
min-width: 240px; 
}

.group-table th:nth-child(2),
.group-table td:nth-child(2) {
width: 90px; 
}
.tournament-bracket-container {
display: flex;
justify-content: space-around; 
align-items: flex-start;
gap: 20px;
margin-bottom: 20px;
}

.tournament-bracket {
display: flex;

gap: 40px; 
padding: 20px;
background-color: var(--beige   );
border: 1px solid var(--blue);
overflow-x: auto;
}

.round {
display: flex;
flex-direction: column;
justify-content: space-around; 
flex: 1; 
position: relative; 
}

.semifinals {
min-height: 250px; 
}

.finals {
justify-content: center;
}

.matchup {
background-color: var(--white);
border: 1px solid var(--blue);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
width: 220px;
position: relative;
margin: 0 auto; 
}

.participant {
padding: 12px 15px;
font-size: 15px;
line-height: 1.6;
}

.participant:first-child {
border-bottom: 1px solid var(--beige);
}
.winner-box {
background-color: var(--orange);
color: var(--black);
font-weight: normal;
text-align: center;
}


.matchup::after {
content: '';
position: absolute;
top: 50%;
right: -89.6%; 
width: 89.6%;
height: 2px;
background-color: var(--blue);
transform: translateY(-50%);
}

.round.finals .matchup::before{
content: '';
position: absolute;
top: 50%;
left: -90.8%; 
width: 90.8%;
height: 2px;
background-color: var(--blue);
transform: translateY(-50%);
}

.round.winner .matchup::before {
content: '';
position: absolute;
top: 50%;
left: -92%; 
width: 92%;
height: 2px;
background-color: var(--blue);
transform: translateY(-50%);
}

.round.winner .matchup::after {
display: none;
}

.round.semifinals::after {
content: '';
position: absolute;
width: 2px;
background-color: var(--blue);
right: -20px; 
top: calc(50% - 63px); 
height: 50.7%; 
}
.bracket-heading{
    font-size: large;
    color: var(--blue);
    padding-top: 20px;
}

.round.winner .participant:first-child {
    border-bottom: none;
}